<p>Milí rodičia,</p>
<p>ďakujeme za prejavenú dôveru, keď ste svoje dieťa prihlásili na
<strong>1. UpGREAT Camp: From Zero to Hero</strong>. Veľmi si vážime, že
môžeme byť súčasťou vašich letných prázdnin.</p>
<p>Počas tábora deti čaká týždeň plný hier, dobrodružstiev, nových
priateľstiev, tvorivých aktivít a nezabudnuteľných zážitkov. Naším
cieľom je vytvoriť bezpečné prostredie, v ktorom si každé dieťa nájde
svoje miesto, objaví svoje silné stránky a odnesie si domov množstvo
pekných spomienok.</p>
<p><strong>Psst…</strong> Ak čítate tento e-mail spolu s deťmi, môžete
im prezradiť iba toto: Tento rok sa vydáme na výpravu <strong>From Zero
to Hero</strong>. O tom, aké výzvy deti čakajú a čo všetko budú musieť
zvládnuť, zatiaľ viac neprezradíme.</p>
<h3 id="organizačné-informácie">Organizačné informácie</h3>
<p>Tábor sa uskutoční v termíne <strong>10. – 14. augusta
2026</strong>.</p>
<p>V pondelok (10. 8.) sa stretneme na adrese <strong>Prípojná 5,
Podunajské Biskupice</strong>.</p>
<p>Každý deň budeme deti vítať od <strong>8:00</strong>, program sa
začne o <strong>8:30</strong> a končiť bude o <strong>16:30</strong>.
Prosíme, aby ste si deti vyzdvihli do <strong>17:00</strong>.</p>
<h3 id="úhrada-účastníckeho-poplatku">Úhrada účastníckeho poplatku</h3>
<p>Prosíme o úhradu účastníckeho poplatku vo výške <strong>{{ price
}}€</strong> do <strong>26. júla 2026</strong>. Ak je pre Vás cena
privysoká, kontaktujte nás, môžeme poskytnúť individuálny
sponzoring.</p>
<p><strong>Bankové spojenie:</strong><br />
IBAN: <strong>SK26 8330 0000 0022 0354 0671</strong></p>
<p><strong>Majiteľ účtu:</strong><br />
<strong>OZ UpGREAT</strong></p>
<p><strong>Variabilný symbol:</strong><br />
{{ variable_symbol }}</p>
<p><strong>Detailné vyúčtovanie:</strong></p>
<p>{% for item in price_calculation %} {{ item.child_name }}<br />
  Počet dní: {{ item.num_days }}<br />
  Cena: {{ item.price }}€<br />
{% endfor %}<br />
Spolu: <strong>{{ price }}€</strong></p>
<h3 id="čo-bude-nasledovať">Čo bude nasledovať?</h3>
<p>Dva týždne pred začiatkom tábora vám pošleme ďalší e-mail s
podrobnými organizačnými informáciami. Nájdete v ňom zoznam, čo
odporúčame deťom pribaliť, dôležité pokyny aj všetko, čo budete pred
začiatkom tábora potrebovať vedieť.</p>
<p>Ak by ste dovtedy mali akékoľvek otázky, neváhajte nás kontaktovať.
Radi ich zodpovieme.</p>
<p>Tešíme sa na spoločné letné dobrodružstvo!</p>
<p>S pozdravom,</p>
<p><strong>Tím UpGREAT</strong></p>
