services:
  webserver:
    &webserver-common
    image: nginx:latest
    ports:
      - 8080:80
    profiles: ["dev"]
  webserver-prod:
    <<: *webserver-common
    restart: always
    profiles: ["prod"]
