services:
  webserver:
    &webserver-common
    image: nginx:latest
    ports:
      - 8080:80  # default for dev
    profiles: ["dev"]
  webserver-prod:
    <<: *webserver-common
    ports:
      - 80:80
    restart: always
    profiles: ["prod"]
