<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/favicon.png" />
    <link rel="stylesheet" href="/static/style.css">
    <title>{{ page_title }}{% if page_title %} | {% endif %}UpGREAT</title>
</head>
<body>
    <header>
        <a id="logo" href="/">
            <img src="/static/favicon.png" width="128" height="128">
        </a>

        <input type="checkbox" id="menu-toggle" hidden>
        <label for="menu-toggle" class="burger">Menu ☰</label>
        <nav class="menu">
            <a href="/">Domov</a>
            <a href="/contact">Kontakt</a>
            <a href="/register">Registrácia</a>
        </nav>
    </header>

    <aside>
        <div class="info">
            <h1>Táto stránka bola vytvorená človekom,</h1>
            <p>
                <strong>… nie vygenerovaná umelou inteligenciou
                (<abbr title="Artificial Intelligence">AI</abbr>).</strong>
                Dobrý deň, moje meno je Martin a som autorom týchto webových
                stránok. Tento web vznikol z vôle pomôcť niečomu dobrému.
                Niektorí kľúčoví členovia OZ UpGREAT však dali najavo že si
                necenia ľudskú prácu a radšej sa budú
                <a href="https://web.facebook.com/photo/?fbid=122105753805401712">propagovať pomocou AI</a> (<a href="https://web.archive.org/web/20260730212343/https://scontent.fbrq1-1.fna.fbcdn.net/v/t39.30808-6/758444548_122105753811401712_6225774237516212037_n.jpg?stp=dst-jpg_tt6&cstp=mx1672x941&ctp=s1672x941&_nc_cat=103&ccb=1-7&_nc_sid=833d8c&_nc_ohc=068pzEDTrV8Q7kNvwGcpMzH&_nc_oc=Adojx15kHYJVsU6vb7PAyWPafSEkL_MdFs-t1MGOedLTx7OV7SqF2rQ5CO-oTmn9oVu0tO39CYAsuFcIzMxaSvnd&_nc_zt=23&_nc_ht=scontent.fbrq1-1.fna&_nc_gid=ku0Uj9gvu8pukvVrFyQ2-A&_nc_ss=7b289&oh=00_AQHMpdyNhSfYsiJiXiyrzT_IW6zfUiYlyiQoxtMq5IFQIA&oe=6A71A885">archivované</a>).
                Tieto propagačné materiály vznikli neetickým pretvorením
                pôvodného autorského materiálu bez súhlasu autorky.
            </p>
            <p>
                Týmto stanoviskom sa dištancujem od OZ UpGREAT a ich
                problematického využívania AI. Členovia dali najavo že je pre
                nich materiál vygenerovaný AI cennejší než ľudský zápal
                a nasadenie. Z toho dôvodu bude stránka po skončení tábora
                vypnutá. Používaním týchto stránok a prihlásením na tábor
                podporujete neetické využívanie AI.
            </p>
        </div>
    </aside>

    <main>
        {% block maincontent %}{% endblock %}
    </main>
</body>
</html>
