Nová registrácia:

Meno:   {{ guardian_name }}
Email:  {{ guardian_email }}
Tel. č: {{ guardian_tel }}

{% for child in children %}
=================================================
Dieťa {{loop.index}}/{{loop.length}}

Meno:            {{ child.forename }}
Prievisko:       {{ child.surname }}
Pohlavie:        {{ child.gender }}
Dátum narodenia: {{ child.date_of_birth }}
Trvalé bydlisko: {{ child.municipality }}
                 {{ child.street_with_number }}
                 {{ child.postal_code }}
Dni:             {% if child.days.all %}Všetky dni{% else %}{{ child.days.string }}{% endif %}
{%- if child.more_info %}
Ďalšie informácie:
{{ child.more_info }}
{%- endif %}
{%- if loop.last %}
=================================================
{%- endif %}
{%- endfor %}


S pozdravom,
register-email.njk