DATABASE_URL=postgres://postgres:example-db-password@upgreat-db/postgres
POSTGRES_PASSWORD=example-db-password
NODE_ENV=production
BACKEND_PORT=8081
SMTP_USER=noreply@example.com
SMTP_PASS=example-smtp-password
MAIL_TO=recipient@example.com
MAIL_BCC=one@example.com, other@example.com