{% extends "layouts/main.njk" %}

{% set page_title = "O nás" %}

{% block maincontent %}
<h1>O nás</h1>
<p>Sem by mohli ísť informácie o:</p>
<ul>
    <li>občianskom združení,</li>
    <li>organizačnom tíme,</li>
    <li>tíme vedúcich,</li>
    <li>bývalých táboroch v Lenke</li>
    <li>fotky členov, skupinové foto, Fotky z Lenky, …</li>
</ul>
{% endblock %}
