{% extends "layouts/main.njk" %}

{% set page_title = "Kontakt" %}

{% block maincontent %}
<h1>Kontakt</h1>
<p>
    V prípade otázok nás neváhajte kontaktovať:
</p>
<div>
    <table>
        <tr>
            <th>Kontaktná osoba</th><td><strong>Alexandra Kušnyérová</strong></td>
        </tr>
        <tr>
            <th>Telefónny kontakt</th><td><a href="tel:00421903665752">+421 903 665 752</a></td>
        </tr>
        <tr>
            <th>Email</th><td><a href="mailto:upgreat26@gmail.com">upgreat26@gmail.com</a></td>
        </tr>
    </table>
</div>
{% endblock %}
