{% extends "layouts/main.njk" %}

{% block maincontent %}
<h1>UpGREAT Camp - From Zero to Hero</h1>
<p>
    Dobrý deň, vítame Vás na stránkach tábora UpGREAT Camp - From Zero to Hero.
    Tábor sa bude konať v termíne <strong>10.-14. 08. 2026</strong> a bude
    prebiehať dennou formou. Je určený pre všetky deti vo veku
    <strong>7-13 rokov</strong>.
</p>
<h2><a id="price">Cena</a></h2>
<p>
    Cena tábora je <strong>98€</strong> pre jedno dieťa. V prípade, že sa tábora
    zúčastnia súrodenci, mladší súrodenec platí vstupné 88€. Ak sa tábora
    zúčastnia 3 súrodenci, najmladší súrodenec bude za tábor platiť 78€, atď.
</p>
<p>V prípade, že nechcete dieťa poslať na celý týždeň, je možnosť prihlásiť ho
    len na konkrétne dni, v takom prípade bude cena 25 € na jedno dieťa a deň.
</p>
<p>
    Ak je táto suma pre Vás privysoká, prosím nezúfajte, kontaktujte nás
    a nájdeme riešenie, ktoré bude vyhovovať obom stranám.
</p>
<p>
    V cene je zahrnutá strava (desiata, obed, olovrant), program na celý týždeň,
    vstupné do ZOO aj na iné atrakcie, ktoré počas týždňa navštívime.
</p>
<div class="wide">
    <table class="wide numerical fancy">
        <caption>
            Tabuľka cien.
        </caption>
        <thead>
            <tr>
                <th scope="col">Počet detí</th>
                <th scope="col">Celková cena</th>
                <th scope="col">Cena/dieťa</th>
                <th scope="col">Celková cena za 1 deň*</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Jedno dieťa</th>     <td>98€</td><td>98€</td><td>25€</td>
            </tr>
            <tr>
                <th scope="row">Dvaja súrodenci</th><td>186€</td><td>93€</td><td>50€</td>
            </tr>
            <tr>
                <th scope="row">Traja súrodenci</th><td>264€</td><td>88€</td><td>75€</td>
            </tr>
            <tr>
                <th scope="row">Štyria súrodenci</th><td>332€</td><td>83€</td><td>100€</td>
            </tr>
            <tr>
                <th scope="row">Piati súrodenci a viac</th><td>390€</td><td>78€</td><td>počet × 25€</td>
            </tr>
        </tbody>
        <tfoot>
            <tr><td colspan="4" class="small textual">
                * Pri účasti len na konkrétne dni tábora sa počíta s fixnou cenou 25€/dieťa/deň.
            </td></tr>
        </tfoot>
    </table>
</div>

<h2>Miesto a čas</h2>
<p>
    Tábor sa bude konať v novej budove cirkevného zboru BCC na adrese
    <strong>Prípojná 5, Podunajské Biskupice</strong>. Každý deň sa budeme na
    Vaše deti tešiť <strong>od 8:00</strong> a v čase
    <strong>medzi 16:00 a 17:00</strong> si ich môžete vydvihnúť.
</p>

<h2>Téma</h2>
<p>
    Úlohou detí bude počas týždňa pilne pracovať, aby stihli vytvoriť niečo,
    niečo Dobré. Budú tvoriť vlastný svet, ktorý sa neriadi pozemskými zákonmi.
    Predstavivosti sa medze nekladú.
</p>

<h2>Prosba</h2>
<p>
    Zároveň prosíme tých z Vás, ktorí môžu prispieť na chod tábora, aby nás
    kontaktovali. Dohodneme sa na spôsobe dotácie.
</p>

<center><a class="fancy" href="/register">Zaregistrovať dieťa</a></center>
{% endblock %}
