{% extends "layouts/main.njk" %}
{% set page_title = "Registrácia" %}

{% block maincontent %}
<h1>Registrácia</h1>
<p>
    Tábor je už v plnom prúde! Ak máte chuť dieťa registrovať na neskoršie dni,
    prosím kontaktujte nás priamo na
    <a href="mailto:upgreat26@gmail.com">upgreat26@gmail.com</a>.
</p>
{% endblock %}
