{% extends "layouts/main.njk" %}
{% set page_title = "Registrácia úspešná" %}

{% block maincontent %}
<h1>Registrácia prebehla úspešne</h1>
<p>Ďalšie informácie Vám pošleme e-mailom na adresu uvedenú vo formulári.</p>
<p>Informácie k platbe pošleme koncom Júna.</p>
{% endblock %}
