{% extends "layouts/main.njk" %}
{% set page_title = "Registrácia nad limit" %}

{% block maincontent %}
<h1>Registrácia nad limit prebehla úspešne</h1>
<p class="info">
    Počet prihlášok presiahol kapacitu tábora. Vašu prihlášku však evidujeme
    a v prípade uvoľnenia miesta Vás kontaktujeme. Ďakujeme za Váš záujem.
<p>
<p>Ďalšie informácie Vám pošleme e-mailom na adresu uvedenú vo formulári.</p>
{% endblock %}
