{% extends "layouts/main.njk" %}
{% set page_title = "Registrácia" %}

{% block maincontent %}
<h1>Registračný formulár</h1>
<p>
    Prosím vyplňte údaje v tomto formulári pravdivo a presne, vyhneme sa tým
    nepríjemnostiam s hľadaním a opravovaním chýb.
</p>

<form method="post">

    <script src="/scripts/register.js" defer></script>
    <noscript><div class="warn">
        Nepodarilo sa načítať JavaScript. Niektoré funkcie stránky môžu byť
        pokazené!
    </div></noscript>

    <fieldset name="guardian">
        <legend>Údaje o zákonnom zástupcovi</legend>
        <p>
            Údaje o Vás potrebujeme aby sme Vám mohli posielať podrobné
            informácie o tábore a ďalších aktivitách, ktoré organizujeme. Tiež
            Vás vďaka nim môžeme v prípade potreby  kontaktovať v priebehu
            tábora.
        </p>
        <div>
            <label for="guardian_name">Meno a priezvisko</label><br>
            <input id="guardian_name" name="guardian_name"
                   type="text" autocomplete="name"
                   required minlength="2" maxlength="100"
                   value="{{ value.guardian_name }}"/><br>
            <div class="error">{{ error.guardian_name }}</div>
        </div>
        <div>
            <label for="guardian_email">Email</label><br>
            <input id="guardian_email" name="guardian_email"
                   type="email" autocomplete="email"
                   required pattern="^..*@..*\...*$"
                   value="{{ value.guardian_email }}"/><br>
            <div class="error">{{ error.guardian_email }}</div>
        </div>
        <div>
            <label for="guardian_tel">Telefónne číslo</label><br>
            <input id="guardian_tel" name="guardian_tel"
                   type="tel" autocomplete="tel"
                   required pattern="^\+?\d( ?\d){9,19}$"
                   value="{{ value.guardian_tel }}"/><br>
            <div class="error">{{ error.guardian_tel }}</div>
        </div>
    </fieldset>

    <fieldset name="children">
        <legend>Údaje o deťoch</legend>
        <p>
            Údaje o dieťati nám pomáhajú vytvoriť si prehľad o tom, aké deti máme na
            tábore očakávať. Na ich základe môžeme pripraviť program, ktorý bude
            šitý na mieru práve im.
        </p>
        <p>
            Ďalšie údaje potrebujeme zo zákonných dôvodov, keďže v priebehu tábora
            preberáme za deti zodpovednosť.
        </p>
        {% set child_number = 0 %}
        {% set max_children = 10 %}
        {% include "includes/register-child.njk" %}
    </fieldset>

    <fieldset name="agreement">
        <legend>Potvrdenia a súhlasy</legend>
        <p>
            V poslednej časti Vás prosíme o potvrdenie správnosti vyplnených
            údajov a poskytnutie súhlasov s uvedeným:
        </p>

        <hr>
        <h4>Súhlas so spracovaním osobných údajov (GDPR):</h4>
        <p>
            Vyplnením osobných údajov v tomto formulári udeľujem
            ako zákonný zástupca dotknutej osoby
            súhlas so spracovaním osobných údajov v zmysle ustanovení § 14 ods.
            1 zákona č. 18/2018 Z.z.. Bol/a/ som poučený/á/, že v zmysle ustanovení §
            14 ods. 3 zákona č. 18/2018 Z.z. môžem ako dotknutá osoba   kedykoľvek odvolať svoj súhlas na
            spracovanie osobných údajov, ktoré sa ma týkajú. Ďalej som bol/a/
            informovaný/á/, že odvolanie súhlasu nemá vplyv na zákonnosť spracovania
            osobných údajov založeného na súhlase pred jeho odvolaním, to je pred
            poskytnutím súhlasu a tiež, že ako dotknutá osoba,  môžem súhlas odvolať rovnakým spôsobom, ako
            ho udelil/a/.
        </p>
        <p>
            Tento súhlas udeľujem pre správcu:<br>
            <strong>
                Alexandra Kušnyérová<br>
                +421 903 665 752<br>
                upgreat26@gmail.com
            </strong>
        </p>
        <hr>

        <div>
            <p>
                Potvrdzujem správnosť všetkých údajov v tomto formulári, súhlasím
                s účasťou dieťaťa/detí na tábore a potvrdzujem, že zákonný zástupca
                dieťaťa/detí s jeho/ich účasťou na tábore súhlasí.
            </p>
            <input id="agree_correct" name="agree_correct"
                   type="checkbox"
                   required
                   {% if value.agree_correct %}checked{% endif %}
            /> <label for="agree_correct">Potvrdzujem</label><br>
            <div class="error">{{ error.agree_correct }}</div>
        </div>
        <div>
            <p>
                Súhlasím so spracovaním osobných údajov na účely organizácie tábora
                a dokladovania výdavkov spojených s táborom pre sponzorov, ktorí
                takéto doklady vyžadujú.
            </p>
            <input id="agree_gdpr" name="agree_gdpr"
                   type="checkbox"
                   required
                   {% if value.agree_gdpr %}checked{% endif %}
            /> <label for="agree_gdpr">Potvrdzujem</label><br>
            <div class="error">{{ error.agree_gdpr }}</div>
        </div>
        <div>
            <p>
                Súhlasím s fotodokumentáciou tábora. Som si vedomý, že
                účastník tábora bude na týchto fotografiách viditeľný a že
                fotografie budú využité na účely propagácie tábora a dokladovania
                jeho priebehu pre sponzorov, ktorí takýto dôkaz požadujú.
            </p>
            <input id="agree_photo" name="agree_photo"
                   type="checkbox"
                   required
                   {% if value.agree_photo %}checked{% endif %}
            /> <label for="agree_photo">Potvrdzujem</label><br>
            <div class="error">{{ error.agree_photo }}</div>
        </div>
    </fieldset>

    <!-- TODO: Price calculator -->

    <div class="error">
        {%- if error.messages %}
            <ul>
                {% for message in error.messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            <p>V prípade nejasností kontaktujte správcu: <a href="mailto:admin@martinjanu.eu">admin@martinjanu.eu</a>.</p>
        {% endif -%}
    </div>

    <p>Ďalšie informácie Vám pošleme e-mailom na hore vyplnenú adresu.</p>
    <p>Informácie k platbe pošleme koncom Júna.</p>

    <input type="submit" value="Odoslať">

</form>
{% endblock %}
