<fieldset class="nth-child" name="children[{{child_number}}]">
    <legend>{{child_number + 1}}. dieťa</legend>
    <div>
        <label for="children[{{child_number}}][forename]">Meno</label><br>
        <input id="children[{{child_number}}][forename]" name="children[{{child_number}}][forename]"
               type="text"
               {% if child_number == 0 %}required{% else %}class="required-if-js"{% endif %} minlength="2" maxlength="100"
               value="{{ value.children[child_number].forename }}"/><br>
        <div class="error">{{ error.children[child_number].forename }}</div>
    </div>
    <div>
        <label for="children[{{child_number}}][surname]">Priezvisko</label><br>
        <input id="children[{{child_number}}][surname]" name="children[{{child_number}}][surname]"
               type="text"
               {% if child_number == 0 %}required{% else %}class="required-if-js"{% endif %} minlength="2" maxlength="100"
               value="{{ value.children[child_number].surname }}"/><br>
        <div class="error">{{ error.children[child_number].surname }}</div>
    </div>
    <fieldset class="radio">
        <legend class="required">Pohlavie</legend>
        <label>
            <input type="radio" name="children[{{child_number}}][gender]" value="female"
                   {% if child_number == 0 %}required{% else %}class="required-if-js"{% endif %}
                   {% if value.children[child_number].gender == "female" %}checked{% endif %}
            /> Dievča
        </label>
        <label>
            <input type="radio" name="children[{{child_number}}][gender]" value="male"
                   {% if child_number == 0 %}required{% else %}class="required-if-js"{% endif %}
                   {% if value.children[child_number].gender == "male" %}checked{% endif %}
            /> Chlapec
        </label>
    </fieldset>
    <div>
        <label for="children[{{child_number}}][date_of_birth]">Dátum narodenia</label><br>
        <input id="children[{{child_number}}][date_of_birth]" name="children[{{child_number}}][date_of_birth]"
               type="date"
               {% if child_number == 0 %}required{% else %}class="required-if-js"{% endif %} min="2010-01-01" max="2023-12-31"
               value="{{ value.children[child_number].date_of_birth }}"/><br>
        <div class="error">{{ error.children[child_number].date_of_birth }}</div>
    </div>
    <fieldset>
        <legend>Trvalé bydlisko</legend>
        <div>
            <label for="children[{{child_number}}][municipality]">Mesto a mestská časť</label><br>
            <input id="children[{{child_number}}][municipality]" name="children[{{child_number}}][municipality]"
                type="text"
                {% if child_number == 0 %}required{% else %}class="required-if-js"{% endif %} minlength="2" maxlength="50"
                value="{{ value.children[child_number].municipality }}"/><br>
            <div class="error">{{ error.children[child_number].municipality }}</div>
        </div>
        <div>
            <label for="children[{{child_number}}][street_with_number]">Ulica a čislo domu</label><br>
            <input id="children[{{child_number}}][street_with_number]" name="children[{{child_number}}][street_with_number]"
                type="text"
                {% if child_number == 0 %}required{% else %}class="required-if-js"{% endif %} maxlength="50"
                value="{{ value.children[child_number].street_with_number }}"/><br>
            <div class="error">{{ error.children[child_number].street_with_number }}</div>
        </div>
        <div>
            <label for="children[{{child_number}}][postal_code]"><abbr title="Poštové smerovacie číslo">PSČ</abbr></label><br>
            <input id="children[{{child_number}}][postal_code]" name="children[{{child_number}}][postal_code]"
                type="text"
                {% if child_number == 0 %}required{% else %}class="required-if-js"{% endif %} pattern="^\d( ?\d){2,9}$"
                value="{{ value.children[child_number].postal_code }}"/><br>
            <div class="error">{{ error.children[child_number].postal_code }}</div>
        </div>
    </fieldset>
    <fieldset class="checkbox">
        <legend class="required">Na ktoré dni dieťa prihlasujete?</legend>
        <p>
            Cena sa riadi <a href="/#price">platným cenníkom</a>.
        </p>
        <div>
            <input id="children[{{child_number}}][days][all]" name="children[{{child_number}}][days][all]"
                class="child-days-all"
                type="checkbox"
                {% if value.children[child_number].days.all %}checked{% endif %}
                hidden disabled
            />
            <label for="children[{{child_number}}][days][all]">Všetky dni</label><br>
        </div>
        <label>
            <input type="checkbox" class="child-days" name="children[{{child_number}}][days][monday]"
                   {% if value.children[child_number].days.monday %}checked{% endif %}
            /> Pondelok 10. 08. 2026
        </label><br>
        <label>
            <input type="checkbox" class="child-days" name="children[{{child_number}}][days][tuesday]"
                   {% if value.children[child_number].days.tuesday %}checked{% endif %}
            /> Utorok 11. 08. 2026
        </label><br>
        <label>
            <input type="checkbox" class="child-days" name="children[{{child_number}}][days][wednesday]"
                   {% if value.children[child_number].days.wednesday %}checked{% endif %}
            /> Streda 12. 08. 2026
        </label><br>
        <label>
            <input type="checkbox" class="child-days" name="children[{{child_number}}][days][thursday]"
                   {% if value.children[child_number].days.thursday %}checked{% endif %}
            /> Štvrtok 13. 08. 2026
        </label><br>
        <label>
            <input type="checkbox" class="child-days" name="children[{{child_number}}][days][friday]"
                   {% if value.children[child_number].days.friday %}checked{% endif %}
            /> Piatok 14. 08. 2026
        </label><br>
        <div class="error">{{ error.children[child_number].days }}</div>
        <div class="info child-days-info"></div>
    </fieldset>
    <fieldset>
        <legend>Ďalšie dôležité informácie</legend>
        <p>
            V tejto sekcii nám môžete poskytnúť ďalšie informácie, ktoré
            nám pomôžu zabezpečiť, aby sa Vaše deti u nás cítili
            komfortne. Dajte nám vedieť hlavne v prípade, že dieťa trpí
            <strong>potravinovou alergiou</strong>, má
            <strong>zdravotné obmedzenia</strong> pri športových
            aktivitách, prípadne vyžaduje špeciálne zaobchádzanie
            a ďalšie dôležité informácie.
        </p>
        <textarea name="children[{{child_number}}][more_info]" rows="5" maxlength="2000">
            {{- value.children[child_number].more_info -}}
        </textarea>
        <div class="error">{{ error.children[child_number].more_info }}</div>
    </fieldset>
</fieldset>

{% set child_number = child_number + 1 %}
{% if child_number < max_children %}
{% include "includes/register-child.njk" %}
{% else %}
<button type="button" name="add-child" value="{{child_number}}" hidden>Pridať dieťa</button>
<button type="button" name="del-child" value="{{child_number}}" hidden>Odobrať dieťa</button>
<p id="max-children">Maximálny počet detí na jeden formulár je {{max_children}}.</p>
{% endif %}
